.risk-matrix{
  position:relative;width:100%;margin-left:20px;margin-bottom:20px;
}
.risk-matrix .left-label{
  position:absolute;font-size:1.2em;font-weight:bold;bottom:0px;
  transform:rotate(270deg);-webkit-transform:rotate(270deg);-ms-transform:rotate(270deg);
  transform-origin:left bottom 0;-webkit-transform-origin:left bottom 0;-ms-transform-origin:left bottom 0;
}
.risk-matrix .bottom-label{
  position:absolute;font-size:1.2em;font-weight:bold;bottom:-20px;
}
.risk-matrix .risk-box{
  position:absolute;width:19%;height:19%;margin-right:1%;margin-top:1%;
}
.risk-box.low-risk{
  background:rgb(113, 151, 104);border:1px solid rgb(113, 151, 104);
}
.risk-box.medium-risk{
  background:rgb(202, 141, 73);border:1px solid rgb(202, 141, 73);
}
.risk-box.high-risk{
  background:rgb(189, 88, 79);border:1px solid rgb(189, 88, 79);
}
.risk-box.riskcol-0{
  left:0%;
}
.risk-box.riskcol-1{
  left:20%;
}
.risk-box.riskcol-2{
  left:40%;
}
.risk-box.riskcol-3{
  left:60%;
}
.risk-box.riskcol-4{
  left:80%;
}
.risk-box.riskrow-0{
  top:0%;
}
.risk-box.riskrow-1{
  top:20%;
}
.risk-box.riskrow-2{
  top:40%;
}
.risk-box.riskrow-3{
  top:60%;
}
.risk-box.riskrow-4{
  top:80%;
}
.risk-matrix .risk-matrix-item{
  border-radius:50%;width:8%;height:8%;margin-left:-4%;margin-bottom:-4%;z-index:1000;background:white;border:1px solid black;cursor:pointer;overflow:hidden;
  -ms-transition: all 1s ease;-webkit-transition: all 1s ease;transition: all 1s ease;
}
.risk-matrix .risk-matrix-item:hover{
  width:50%;height:50%;margin-left:-25%;margin-bottom:-25%;z-index:2000;border-radius:0px;border:1px solid #ddd;
}
.risk-matrix .risk-matrix-item > div.open{
  padding:5px;visibility:hidden;opacity:0;
}
.risk-matrix .risk-matrix-item:hover > div.open{
  visibility:visible;opacity:1;
  -ms-transition: visibility 0s linear 0.5s, opacity 0.5s linear;-webkit-transition: visibility 0s linear 0.5s, opacity 0.5s linear;transition: visibility 0s linear 0.5s, opacity 0.5s linear;
  -ms-transition-delay:0.5s;-webkit-transition-delay:0.5s;transition-delay:0.5s;
}
.risk-matrix .risk-matrix-item > div.closed{
  display:table;width:100%;height:100%;font-size:0.7em;
  background-image: -ms-linear-gradient(top, #FFFFFF, #C0C0C0);
  background-image: -webkit-linear-gradient(top, #FFFFFF, #C0C0C0);
  background-image: linear-gradient(top, #FFFFFF, #C0C0C0);
}
.risk-matrix .risk-matrix-item > div.closed > span{
  display:table-cell;text-align:center;vertical-align:middle;
}
.risk-matrix .risk-matrix-item:hover > div.closed{
  display:none;
  -ms-transition-delay:1s;-webkit-transition-delay:1s;transition-delay:1s;
}
.risk-matrix .risk-matrix-item .title{
  font-size:1.1em;font-weight:bold;margin-bottom:5px;padding-bottom:5px;border-bottom:1px solid #ddd;
}
.resized {
  width: 70%;
}
