/*
 * bootstrap-tagsinput v0.8.0
 * 
 */

.bootstrap-tagsinput {
  background-color: #fff;
  border: 1px solid #ced4da;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  display: inline-block;
  padding: 6px 12px;
  color: #555;
  vertical-align: middle;
  border-radius: 4px;
  width: 100%;
  cursor: text;
}
.bootstrap-tagsinput input {
  border: none;
  box-shadow: none;
  outline: none;
  background-color: transparent;
  padding: 0 0;
  margin: 0;
  width: auto;
  max-width: inherit;
}
.bootstrap-tagsinput.form-control input::-moz-placeholder {
  color: #6c757d;
  opacity: 1;
}
.bootstrap-tagsinput.form-control input:-ms-input-placeholder {
  color: #6c757d;
}
.bootstrap-tagsinput.form-control input::-webkit-input-placeholder {
  color: #6c757d;
}
.bootstrap-tagsinput input:focus {
  border: none;
  box-shadow: #284b6e;
}
.bootstrap-tagsinput .badge {
  margin-right: 2px;
  color: white;
  background-color: #284b6e;
  padding: 5px 8px;
  border-radius:3px;
  border: 1px solid #284b6e;
}
.bootstrap-tagsinput .badge [data-role="remove"] {
  margin-left: 8px;
  cursor: pointer;
}
.bootstrap-tagsinput .badge [data-role="remove"]:after {
  content: "×";
  padding: 0px 4px;
  background-color:rgba(0, 0, 0, 0.1);
  border-radius:50%;
  font-size:13px
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:after {
  background-color: rgba(20, 37, 54, 0.62);
}
.bootstrap-tagsinput .badge [data-role="remove"]:hover:active {
  box-shadow: inset 0 3px 5px rgba(20, 37, 54, 0.125);
}
